.App {
  text-align: center;
  /* background-color: #222; */
  height: 100vh;
}

body {
  background-image: url('./assets/wood-desk.jpg');
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  width: inherit;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.Image-text-buttons-container {
  z-index: 1;
  transform: translate3d(0, 0, 0);
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: rgb(76, 135, 180); */
}

.Picture-container {
  padding-left: 6vw;
}

.Picture {
  margin: 0;
  border-radius: 2.5vh;
  width: 180px;
}

.Contact-info {
  display: none;
}

.Name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 6vw;
}

.Name {
  margin: 0;
  color: black;
  font-weight: lighter;
  font-size: 2.5em;
}

.Buttons {
  padding-left: 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Icon {
  width: 24px;
}

.Scroll-icon {
  position: relative;
  left: 65vw;
}

.Scroll-text {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.Icon-large {
  width: 48px;
}

.Icon-bounce {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.App-body {
  margin-top: 100vh;
  margin-right: 5vw;
  margin-bottom: 15vh;
  position: relative;
  z-index: 2;
  width: 60vw;
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.App-body::after {
  content: '';
  position: absolute;
  width: 0.3vw;
  background-color: black;
  top: 8vh;
  bottom: 20vh;
  left: 2.8vw;
}

.Section {
  background-color: #ffffff;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  position: relative;
  text-align: left;
}

.Resume {
  text-align: center;
}

.Resume::after {
  all: unset;
}

.Component-container {
  position: relative;
}

.Headline {
  margin-top: 0;
  padding-top: 3vh;
  font-size: 1.8em;
  font-weight: normal;
  color: rgb(202, 61, 33);
}

.Sub-headline {
  margin-bottom: 1vh;
  font-size: 1.5em;
  color: black;
  font-weight: unset;
}

.Sub-headline::after {
  content: '';
  position: absolute;
  width: 1vw;
  height: 1vw;
  left: -2.7vw;
  top: 0.7vw;
  background-color: white;
  border: 0.15vw solid #000;
  border-radius: 50%;
  z-index: 1;
}

.Content {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1vh;
  font-size: 1em;
  color: black;
}

.Long-content {
  width: 45vw;
  display: inline-block;
}

.Time {
  font-style: italic;
}

.Skills {
  padding-bottom: 10vh;
}

.Skills:after {
  content: '';
  position: absolute;
  width: 1vw;
  height: 1vw;
  left: -2.7vw;
  background-color: white;
  border: 0.15vw solid #000;
  border-radius: 50%;
  z-index: 1;
}

.Download-button {
  background-color: #cfd8dc;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 4vh;
}

@media screen and (max-width: 1000px) {
  .Image-text-buttons-container {
    align-items: center;
  }

  .Scroll-icon {
    position: relative;
    left: 0vw;
  }

  .App-body {
    padding-right: 0;
    padding-left: 0;
    width: 90vw;
    margin: 100vh auto 5vh auto;
    float: initial;
  }

  .Picture-container {
    padding-left: 0;
  }

  .Name-container {
    align-items: center;
    padding-left: 0;
  }

  .Buttons {
    padding-left: 0;
  }

  .Headline {
    font-size: 1.6em;
  }

  .Sub-headline {
    font-size: 1.2em;
  }

  .Content {
    font-size: 0.8em;
  }

  .Long-content {
    width: 70vw;
    display: inline-block;
  }
}

@media screen and (max-width: 700px) {
  .Image-text-buttons-container {
    align-items: center;
  }

  .Headline {
    font-size: 1.2em;
  }

  .Sub-headline {
    font-size: 1em;
  }

  .Content {
    font-size: 0.8em;
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  @screen {
    margin: 0;
  }

  .App {
    all: unset;
    width: 210mm;
    height: 297mm;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #222;
  }

  .App-header {
    padding-left: 4vw;
  }

  .Image-text-buttons-container {
    all: unset;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .Picture {
    margin: 0;
    border-radius: 2.5vh;
    width: 80px;
  }

  .Name-container {
    padding-left: 2vw;
  }

  .Name {
    all: unset;
    margin: 0;
    color: black;
    font-weight: lighter;
    font-size: 1.5em;
  }

  .Contact-info {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .Contact-info-container {
    display: flex;
    justify-content: flex-end;
  }

  .Contact-info-text {
    margin: 0;
    padding: 0;
    font-size: 1em;
    padding-right: 1vw;
  }

  .App-body {
    all: unset;
  }

  .App-body::after {
    all: unset;
  }

  .Section {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 0;
  }

  .Headline {
    margin-bottom: 0;
    padding-top: 2.5vh;
    font-size: 1.3em;
    font-weight: bolder;
  }

  .Sub-headline {
    margin-top: 0.8vh;
    margin-bottom: 0;
    font-size: 1.1em;
  }

  .Content {
    padding-bottom: 0.5vh;
    font-size: 0.9em;
    display: inline-block;
    width: 80vw;
  }

  .Skills {
    all: unset;
  }
}
